.TopHome {
    height: 119px;
    background-color: #C6E5F4;
    position: relative;
}

.home_logo {
    position: absolute;
    width: 115px;
    height: 86px;
    left: 37px;
    top: 10px
}

.home_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 505px;
    height: 66px;
    left: 163px;
    top: 30px;
}

.logo_user {
    position: absolute;
    width: 90px;
    height: 69px;
    left: 1400px;
    top: 27px;
}

.logo_user .fix-logouser >img {
    width: 69px;
    height: 69px;
}