.TopHome {
    height: 119px;
    background-color: #C6E5F4;
}

.home_logo {
    margin-left: 37px;
    margin-top: 10px;
    height: 86px;
    width: 98px;

}

.home_text {
    margin: 30px 500px 23px 28px;
    width:505px;
    height: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #000000;

}

.logo_user {
    margin-left: 12%;
}

.logo_user >img {
    margin-left: 75%;
    width: 69px;
    height: 69px;
    margin-top: 24px;
}