.data-cart {
    width: 100%;
}

.data-cart-row {
    margin-left: 4px;
}

.img-cart-data-col {
    margin-top: 30px;
    margin-left: 88px;
    margin-bottom: 34px;
}

.img-cart-data {
    width: 188px;
    height: 239px;
}

.info-cart-data-col {
    margin-left: 97px;
}

.info-cart-data-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    color: #000000;

}

.info-cart-data-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    align-items: center;
    color: #000000;
    margin-top: 29px;
}

.info-cart-data-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    color: #000000;
    margin-top: 10px;
}

/**/

.total-cart {
    width: 100%;
    height: 127px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    text-align: right;
    color: #000000;
}

/**/

.button-cart {
    display: flex;
    margin-left: 26px;
    position: relative;
}

.button-cart-up {
    background-color: white;
    border: white;
    height: 50px;
    margin-top: 124px;
}

.button-cart-up >span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    align-items: center;
}

.button-cart-up:hover {
    background-color: rgb(226, 212, 212);
}

.quantity-product {
    width: 30px;
    display: flex;
    margin-left: 20px;
}

.quantity-product >span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-top: 130px;
    margin-left: 10px;
}

.button-cart-down {
    background-color: white;
    border: white;
    height: 50px;
    margin-top: 124px;
    margin-left: 20px;
}

.button-cart-down >span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

.button-cart-down:hover {
    background-color: rgb(226, 212, 212);
}

.button-cart-remove {
    position: absolute;
    right: 0;
    background-color: white;
    border: white;
    width: 30px;
    height: 30px;
}

.button-cart-remove:hover {
    background-color: rgb(236, 190, 190);
    border-radius: 50%;
}