.img-product-data {
    width: 408px;
    height: 478px;
    margin-top: 46px;
    margin-left: 32px;
}

.info-product-data-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 46px;
    margin-left: 54px;
}

.info-product-data-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 29px;
    margin-left: 54px;
    width: 690px;
    height: 155px;
}

.info-product-data-price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 28px;
    margin-left: 54px;
}

.info-product-data-star{
    width: 293px;
    height: 61px;
    margin-left: 54px;  
}

.info-product-data-button {
    margin-top: 29px;
    margin-left: 54px;
}

.button-buy {
    width: 358px;
    height: 103px;
    background: #00C2FF;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFDFD;
}

.button-addtocart{
    width: 358px;
    height: 103px;
    background: #00FF19;;
    border-radius: 10px;
    margin-left: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFDFD;
}

.info-product-data-more{
    width: 198px;
    height: 107px;
    margin-top: 36px;
    margin-left: 137px;
}