.img-product-data {
    width: 308px;
    height: 378px;
    margin-top: 16px;
    margin-left: 60px;
}

.info-product-data-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 26px;
    margin-left: 54px;
}

.info-product-data-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 29px;
    margin-left: 54px;
    width: 690px;
    height: 110px;
}

.info-product-data-price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 28px;
    margin-left: 54px;
}

.info-product-data-star{
    width: 233px;
    height: 51px;
    margin-left: 54px;  
}

.info-product-data-button {
    margin-top: 9px;
    margin-left: 54px;
}

.button-buy {
    width: 328px;
    height: 83px;
    background: #00C2FF;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFDFD;
}

.button-addtocart{
    width: 328px;
    height: 83px;
    background: #00FF19;;
    border-radius: 10px;
    margin-left: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #FFFDFD;
}

.info-product-data-more{
    width: 198px;
    height: 107px;
    margin-left: 137px;
}