.body-Products {
    display: flex;
}

.content-Products {
    width: 100%;
}

.title-product-row {
    width: 405px;
    height: 60px;
}

.title-product-col {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    align-items: center;
    color: #000000;
    margin-left: 21px;
}

.header-product-row {
    height: 55px;
    border-bottom: 1px solid black;
}

.link-product-col {
    height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    align-items: center;
    color: #000000;
    margin-left: 29px;
    padding-top: 10px;
}

.icon-cart {
    margin-left: 79px;
    position: relative;
}

.icon-cart >img {
    width: 43px;
    height: 43px;
    margin-top: 7px;
    margin-left: 15px;
}

.icon-cart >span {
    position: absolute;
    background-color: #F477FF;
    width: 24px;
    height: 23px;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
    left: 55px;
    top: 5px;
}