.body-shop {
    display: flex;
}

.content-shop {
    width: 100%;
}

.title-shop-row {
    width: 405px;
    height: 60px;
}

.title-shop-col {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    align-items: center;
    color: #000000;
    margin-left: 21px;
}

.header-shop-row {
    height: 60px;
}

.link-shop-col {
    height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    align-items: center;
    color: #000000;
    margin-left: 29px;
    padding-top: 10px;
}

.search-col {
    display: flex;
    width: 469px;
    position: relative;
    margin-left: 80px;
}

.search-col >img {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 400px;
    top: 5.5px;
}

.search-input {
    width: 469px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #000000;
    
}

.filter-col {
    width: 58px;
    height: 56.23px;
}   


.product {
    display: flex;
    margin-bottom: 92px;
    margin-left: 24px;
}

.img {
    width: 127px;
    height: 137px;
    margin-top: 30px;
}

.img-product {
    width: 127px;
    height: 137px;
}

.info-product {
    margin-left: 25px;
}

.title-product {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    color: #000000;
    margin-top: 35px;
}

.price-product {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    align-items: center;
    color: #000000;
    margin-top: 7px;
}

.star-product {
    width: 293px;
    height: 61px;
}

.header-shop {
    border-bottom: 1px solid black;
}

.link {
    text-decoration: none;
    color: #000000;
}